* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   width: 100%;
   min-height: 100%;
   overflow-x: hidden;
}

body {
   overflow-x: hidden;
}
.header nav,
.footer {
   /*background:#EC632D !important;*/
   background: #234B6B !important;

}

.header .site-title {
   font-size: 1rem;
   text-align: left;
   font-weight: 500;
   text-transform: capitalize;
   color: rgba(255, 255, 255, 1);
   text-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0-1px 2px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

.site-title sup {
   font-size: .7rem;
   color: yellow;
   text-shadow: none;
}
nav ul li a{
   color: white !important;
}
.active {
   color: white;
}
.right-img {
   max-width:170px;
   float: right;
   border-radius: 10px;
   box-shadow: 1px 1px 5px grey;
}

.index span {
   font-size: 1.2rem;
   margin: 0 3px;
   color: #0C6BA7;
}

@font-face {
   font-family: "myfont";
   src: url("glyphicons-halflings-regular.ttf");
   font-size: 35px;
}

.content-container {
   border-right: solid 1px rgba(0, 0, 0, .2);
   border-bottom: solid 1px rgba(0,0,0,.2);

}

.articles {
   line-height: 28px;
   font-size: 1rem;
   margin: 2rem;
   padding: 1rem;
   color: #2B2B2B;
   overflow: hidden;
   font-family: "myfont", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.aside {
   background: rgba(0, 0, 0, .07);
}

.title {
   position: relative;
   width: fit-content;
   overflow: hidden;
}

.paragraph-title {
   color: rgba(250, 80, 0, 1);
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .1);
   position: absolute;
   color: white;
   text-align: center;
   z-index: 100;
}

hr {
   border-width: .15rem;
}

.line {
   border-width: .15rem;
   background: rgba(130, 130, 130, .1);
}

.note {
   color: #09217C;
   padding: 1rem;
   border-left: solid .4rem rgba(0, 100, 160, .8);
   background: rgba(0, 130, 180, .25);
}

.previous-next {
   font-size: 1rem;
   font-weight: 600;
   text-transform: uppercase;
   animation: all ease 0.5s;
}

.pre:vious-next>a {
   border-radius: 3px;
   text-align: center;
   font-weight: 500;
   justify-content: space-between;
}

.previous-next a:hover {
   color: blue;
   background: rgba(0, 0, 0, .1);
   border-radius: 2px;
}

.topics-list li {
   list-style: disc;
   text-transform: capitalize;
   color: rgba(0, 100, 10, 1);
}

.advertising {
   text-align: center;
}

.footer {
   width: 100%;
   margin-top: 4rem;
}

.footer ul {
   padding: 1em;
   border-radius: 3px;

}

.social,
.about-terms {
   display: flex;
   list-style-type: none;
   justify-content: space-around;
}

.footer p,
.about-terms a {
   color: white;
   text-align: center;
   font-size: .9rem;
   font-family: Arial;
   font-weight: 400;
   border-radius: 4px;
   padding: 6px 10px;
   text-transform: capitalize;
}

.social a {
   text-decoration: unset;
}

.social a i {
   color: #D4D4D4;
}

.footer ul a:hover i {
   color: #00D7F5;
}

.about-terms li a:hover {
   color: white;
   background: rgba(255, 255, 255, .1);
}

.last-update {
   font-size: .9rem;
}

.copyright {
   text-decoration: unset;
   font-size: .855em;
   border-top: solid 2px rgba(255, 255, 255, .7);
   background: rgba(0, 0, 0, .4);
}

.lasthr {
   display: none;
   border-color: #003A80;
}