
pre {
   width: 100%;
   display: flex;
   color: white;
   padding: 0;
   line-height: 25px;
   font-family: Consolas,'Courier New', monospace;
   background: rgba(0, 0, 0, 0.8);
   box-shadow: 2px 5px 12px grey;

}

.code {
   padding-top: 5px;
   padding-left: 10px;
   font-size: 14px;
   overflow-x: hidden;
   overflow-y:auto;
   word-wrap: break-word;
}

.line_number {
   padding: 5px;
   color: rgba(255, 255, 255, 0.6);
   background: rgba(0, 0, 0, 0.7);
   color: white;
   border-right: solid 2px green;
}

.number {
   text-align: center;
}

.code_blue {
   color: rgba(0, 100, 255, 1);
}

.code_lightblue {
   color: rgb(0, 200, 255);
}

.code_string {
   color: orange;
}

.code_function {
   color: rgb(0, 200, 160);
   color: lightgreen;
}

.code_red {
   color: rgba(255, 0, 0, 1);
}

.code_comment {
   color: grey;
   font-style: italic;
}